@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,400,500,700');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  background-color: #eceff1;
}

nav {
  background: #ffffff;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4389a2,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4389a2,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 50rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  margin-left: 1rem;
}

.hero h1 {
  font-size: 6.4rem;
}

.hero h2 {
  font-weight: 200;
}

hr {
  color: inherit;
  width: 10rem;
  margin: 1.2rem;
}

#uuid {
  font-size: 4.2rem;
}

.content {
  max-width: 90rem;
  margin: 4.2rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.item {
  padding: 3.6rem;
  color: #111111;
}

.item hr {
  margin-left: 0;
}

.item h2 {
  max-width: 75%;
}

.code {
  color: #000;
  background-color: #e6e9eb;
  border: 1px solid #b0b3b8;
  border-radius: 4px;
  padding: 1px 4px;
  font-size: 1.4rem;
  font-family: monospace;
}

.code-large {
  color: #000;
  background-color: #e6e9eb;
  border: 1px solid #b0b3b8;
  border-radius: 4px;
  padding: 3rem 2rem 2rem 2rem;
  font-size: 1.4rem;
  font-family: monospace;
  overflow: auto;
  display: block;
  width: fit-content;
  word-wrap: break-word;
  page-break-inside: avoid;
}

.wide {
  grid-column: 1 / 3;
}

@media screen and (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }

  .btn {
    margin-left: 0rem;
  }

  .hero h1 {
    font-size: 3.2rem;
  }

  #uuid {
    font-size: 2.4rem;
    padding: 0 2rem;
    text-align: center;
  }

  .container {
    flex-direction: column;
  }

  .hero h2 {
    font-size: 1.6rem;
    text-align: center;
    padding: 0 1rem;
  }
}
